.header-nav {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}
p {
  text-align: right;
  overflow: auto;
}
img {
  border-radius: 50%;
  background-position: left;
  vertical-align: sub;
  display: inline-block;
}
ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-stretch: expanded;
}
footer {
  background: linear-gradient(rgb(70, 158, 70),rgb(51, 107, 51), rgb(29, 68, 29))
  }
  padding-bottom: 10px;
}
.footer-nav {
  text-align: Left;
  text-transform: uppercase;
  list-style-type: none;
  position: absolute;
  color: white;
}
