.header-nav {
  text-align: center;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 20px;
}

/* this code is to test logo (image) centering */
header.img {
  text-align: center;
}

p {
  text-align: right;
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-stretch: expanded;
}

footer {
  background-color: rgb(31, 77, 51);
  padding-bottom: 10px;
  color: white;
}

.footer-nav {
  text-align: Left;
  text-transform: uppercase;
  list-style-type: none;
}

ul.b {
  text-align: center;
  text-transform: capitalize;
  list-style-type: none;
}
